{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Baloo Tamma 2' rel='stylesheet'>
</head>


<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary header">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">techietrade.</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                </div>
            </div>

            <ul class="nav justify-content-end ">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


<body>

{% block body %}

{% endblock %}

</body>

{% if big_footer %}
    <footer>
        <div class="big-footer">
            <div class="subscribe-footer">
                <p>Sign up for our newsletter and never miss out on the best deals</p>
                <input type="text" placeholder="Email..." class="form-control subscribe-input">
                <button class="btn btn-primary sub-button">Subscribe</button>
            </div>
        </div>
    </footer>
{% else %}
    <footer>
        <nav class="navbar navbar-expand-lg bg-body-tertiary footer">
            <div class="container-fluid">
                <ul class="nav justify-content-end footer-icons">
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="bi bi-discord"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="bi bi-github"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
{% endif %}


</html>
