{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row form-row">
            <div class="col-sm-6">
                <form action="{% url 'login' %}" method="post" class="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="white">Username</label>
                        <input autofocus class="form-control login-input" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label class="white">Password</label>
                        <input class="form-control login-input" type="password" name="password">
                    </div>
                    <input class="btn btn-primary submit-form-button" type="submit" value="Login">
                </form>

                <p>Don't have an account? <a href="{% url 'register' %}"> <span
                        class="orange"> Register here </span></a></p>
            </div>
            <img class="col-sm-6 lap-top-img" src="../../static/images/lap-top.png">

        </div>
    </div>
{% endblock %}