{% extends "auctions/layout.html" %}

{% block body %}

     <form action="{% url 'newAuction' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="desc" placeholder="Description">
        </div>
          <div class="form-group">
            <input class="form-control" type="number" name="start" placeholder="Starting Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
{% endblock %}