{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container home-auctions">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active black" aria-current="page" href="{% url 'profile' %}">My Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'winsView' %}">Won Auctions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lossesView' %}">Lost Auctions</a>
            </li>
        </ul>
        <br>
        <div class="row home-row">
            {% for item in auctions %}
                <div class="card auction-card col-sm-3">
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-title-link"
                                                  href="{% url 'viewAuction' item.pk %}"> {{ item.title }} </a></h5>
                        <p class="card-text"><small
                                class="text-body-secondary">{{ item.description | truncatechars:100 }}</small></p>
                    </div>
                    <img src="{{ item.image }}"
                         class="card-img-bottom"
                         alt="...">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}